body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4db6ac;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.box {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginBx h2 {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}

.group {
    text-align: center;
}

.group p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4db6ac;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    main {
      padding: 10px;
      margin: 10px;
    }
  
    .logo {
      width: 100px;
    }
  }
